<!DOCTYPE html>
<html>
    <head>
        <title>C14 - Desktop</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
    </head>
    <body data-ng-app="C14_APP">
        <nav class="c14 nav-header">
            <div class="nav-wrapper">
				<a href="#" class="brand-logo left">
					<img src="../img/logo_c14_white.svg"/>
					<span>Desktop</span>
				</a>
                <ul id="nav-mobile" class="right" ng-if="me" ng-cloak>
                    <li><a href="#!/safes/list">Safes</a></li>
                    <li><a href="#!/scheduled-backups/list">Schedules</a></li>
                    <li><a href="#!/settings">Preferences</a></li>
                </ul>
            </div>
        </nav>

        <div class="container row" ng-view></div>
        
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="../js/angular.min.js"></script>
        <script type="text/javascript" src="../js/angular-route.min.js"></script>
        <script type="text/javascript" src="../js/sweetalert2.all.min.js"></script>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/app.js"></script>
    </body>
</html>
