<div class="col s12" data-ng-controller="scheduledBackupController">
    <form enctype="multipart/form-data">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="safePrefix" name="safePrefix" type="text" ng-model="scheduledBackup.prefix" class="validate">
                    <label for="safePrefix" class="active">Name of your scheduled backup</label>
                </div>
                <div class="input-field col s12">
                    <select class="browser-default" ng-model="scheduledBackup.type">
                        <option value="" disabled="" class="" selected="selected">Backup plan</option>
                        <option value="standard">STANDARD (0.002 € / Go/month)</option>
                        <option value="enterprise">ENTERPRISE (0.004 € / Go/month)</option>
                        <option value="intensive">INTENSIVE (0.005 € / Go/month)</option>
                    </select>
                </div>
                <div class="input-field col s12">
                    <select class="browser-default" ng-model="scheduledBackup.interval">
                        <option value="" disabled="" class="" selected="selected">Backup interval</option>
                        <option value="259200">Every 3 day</option>
                        <option value="604800">Every 1 week</option>
                        <option value="1209600">Every 2 weeks</option>
                        <option value="2419200">Every months</option>
                    </select>
                </div>
                <div class="input-field file-field col s12">
                    <div class="btn c14" ng-click="selectFolder()">
                        <span ng-show="!scheduledBackup.folderPath">Select a folder</span>
                        <span ng-show="scheduledBackup.folderPath">Change</span>
                    </div>
                    <div class="file-path-wrapper">
                        <p style="margin-top: 10px;">{{scheduledBackup.folderPath}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s6">
            <a href="#!/scheduled-backups/list">
                <button class="waves-effect waves-light red btn" style="float:left">
                    Back
                </button>
            </a>
        </div>
        <div class="col s6">
            <button class="waves-effect waves-light c14 btn" style="float:right" ng-click="createScheduledBackup()">
                Create
            </button>
        </div>
    </div>
</div>
