<div class="col s12" data-ng-controller="safesController">
    <div class="card-panel">
        <span>
            You have actually <strong>{{scheduledBackups.length}}</strong> scheduled backups
        </span>
        <p ng-show="scheduledBackups.length == 0" style="margin-bottom: 0px;">
            You haven't scheduled backups, try to create a new one ?
        </p>
    </div>
    <div class="card-panel p-t-0" ng-show="scheduledBackups.length > 0">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Interval</th>
                        <th>Last Sync</th>
                        <th>Size</th>
                        <th>Status</th>
                        <th style="float: right;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in scheduledBackups track by $index">
                        <td>{{x.prefix}}</td>
                        <td>
                            <span ng-if="x.interval === '259200'">3 days</span>
                            <span ng-if="x.interval === '604800'">1 week</span>
                            <span ng-if="x.interval === '1209600'">2 weeks</span>
                            <span ng-if="x.interval === '2419200'">1 month</span>
                        </td>
                        <td>
                            <a href="#!/scheduled-backups/{{x.id}}/uploads">
                                <span class="new badge orange" data-badge-caption="" ng-show="!x.lastBackupDate">
                                    No sync
                                </span>
                                <span ng-show="x.lastBackupDate">{{x.lastBackupDate}}</span>
                            </a>
                        </td>
                        <td>
                            <span ng-if="x.size && x.size !== 'folderMoved'"> {{x.size}} </span>
                            <span ng-if="x.size && x.size === 'folderMoved'" class="new badge red" data-badge-caption="">
                                Folder moved
                            </span>
                            <span ng-if="!x.size" class="new badge orange" data-badge-caption="">
                                Waiting...
                            </span>
                        </td>
                        <td>
                            <span class="new badge" ng-class="x.status.class" data-badge-caption="">
                                {{x.status.message}}
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="secondary-content tooltipped" data-position="top" data-tooltip="Delete" ng-click="deleteScheduledBackup(x.id)">
                                <i class="material-icons t-red">delete</i>
                            </a>
                            <a href="#!/scheduled-backups/edit/{{x.id}}" class="secondary-content tooltipped" data-position="top" data-tooltip="View all events">
                                <i class="material-icons t-c14" >edit</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="#!/scheduled-backups/create">
                <button class="waves-effect waves-light c14 btn" style="float:right">
                    Create
                </button>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var tooltips = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(tooltips, {});

        var dropdowns = document.querySelectorAll('.dropdown-trigger');
        M.Dropdown.init(dropdowns, {});
    });
</script>
