<div class="col s12">
    <div class="card-panel">
        <span>
            All the uploads logs for this scheduled backup
        </span>
        <p ng-show="events.length == 0" style="margin-bottom: 0px;">
            No uploads.
        </p>
    </div>
    <div class="card-panel" ng-show="events.length > 0">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Size</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Upload percent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in events track by $index">
                        <td>
                            <span class="new badge" ng-class="x.status.class" data-badge-caption="">
                                {{x.status.message}}
                            </span>
                        </td>
                        <td>{{x.size}}</td>
                        <td>{{x.startDate}}</td>
                        <td>
                            <span ng-show="x.endDate">{{x.endDate}}</span>
                            <span ng-show="!x.endDate">N/A</span>
                        </td>
                        <td>{{x.percent}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a href="#!/scheduled-backups/list">
                <button class="waves-effect waves-light red btn" style="float:left">
                    Back
                </button>
            </a>
        </div>
        <div class="col s6">
            <button class="waves-effect waves-light c14 btn" style="float:right" ng-click="runScheduledBackupNow(scheduledBackupId)">
                <i class="material-icons right">sync</i>
                Sync now
            </button>
        </div>
    </div>
</div>
