.logo-header {
	height: 305px;
	margin-top: 50px;
	margin-bottom: 25px;
}
div#coffre_container div.bucket_container {
	position: absolute;
	left: 50%;
	transition: .8s;
	-webkit-transition: .8s
}

div#coffre_container.big div.bucket_container.right {
	margin-left: -320px
}

div#coffre_container.big div.bucket_container.left {
	margin-left: 120px
}

div#coffre_container.big div.bucket_container {
	width: 200px;
	height: 200px;
	top: 70px
}

div#coffre_container.big div.bucket_container span.bucket {
	transition: .8s ease-in-out;
	-webkit-transition: .8s ease-in-out;
	background-size: 100% 100%;
	background-repeat: no-repeat
}

div#coffre_container.mini div.bucket_container {
	width: 100px;
	height: 100px;
	top: 150px
}

div#coffre_container.mini div.bucket_container.left {
	margin-left: 70px
}

div#coffre_container.mini div.bucket_container.right {
	margin-left: -170px
}

div#coffre_container.mini div.bucket_container span.bucket {
	display: inline-block;
	z-index: 1
}

div#coffre_container.big div.bucket_container.left span.bucket.pos-top {
	position: absolute;
	top: 10px;
	left: 70px
}

div#coffre_container.big div.bucket_container.left span.bucket.pos-middle {
	position: absolute;
	top: 80px;
	left: 170px
}

div#coffre_container.big div.bucket_container.left span.bucket.pos-bottom {
	position: absolute;
	top: 100px;
	left: 60px
}

div#coffre_container.big div.bucket_container.right span.bucket.pos-top {
	position: absolute;
	top: 10px;
	right: 70px
}

div#coffre_container.big div.bucket_container.right span.bucket.pos-middle {
	position: absolute;
	top: 60px;
	right: 150px
}

div#coffre_container.big div.bucket_container.right span.bucket.pos-bottom {
	position: absolute;
	top: 100px;
	right: 60px
}

div#coffre_container.mini div.bucket_container.left span.bucket.pos-top {
	position: absolute;
	top: 10px;
	left: 0
}

div#coffre_container.mini div.bucket_container.left span.bucket.pos-middle {
	position: absolute;
	top: 50px;
	left: 40px
}

div#coffre_container.mini div.bucket_container.left span.bucket.pos-bottom {
	position: absolute;
	top: 70px;
	left: 0
}

div#coffre_container.mini div.bucket_container.right span.bucket.pos-top {
	position: absolute;
	top: 10px;
	right: 0
}

div#coffre_container.mini div.bucket_container.right span.bucket.pos-middle {
	position: absolute;
	top: 40px;
	right: 40px
}

div#coffre_container.mini div.bucket_container.right span.bucket.pos-bottom {
	position: absolute;
	top: 70px;
	right: 0
}

div#coffre_container div.bucket_container.left.close span.bucket.pos-top {
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg)
}

div#coffre_container div.bucket_container.left.close span.bucket.pos-middle {
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg)
}

div#coffre_container div.bucket_container.left.close span.bucket.pos-bottom {
	-ms-transform: rotate(40deg);
	transform: rotate(40deg)
}

div#coffre_container div.bucket_container.right.close span.bucket.pos-top {
	-ms-transform: rotate(40deg);
	transform: rotate(40deg)
}

div#coffre_container div.bucket_container.right.close span.bucket.pos-middle {
	-ms-transform: rotate(40deg);
	transform: rotate(40deg)
}

div#coffre_container div.bucket_container.right.close span.bucket.pos-bottom {
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg)
}

div#coffre_container div.bucket_container.left.close span.bucket {
	opacity: 0;
	left: -100px!important;
	top: 0!important;
	transition: .8s ease-in-out;
	-webkit-transition: .8s ease-in-out;
	background-size: 100% 100%
}

div#coffre_container div.bucket_container.right.close span.bucket {
	opacity: 0;
	right: -100px!important;
	top: 0!important;
	transition: .8s ease-in-out;
	-webkit-transition: .8s ease-in-out
}

.bucket.picture {
	background-image: url(../img/pix.png);
	background-size: 100%;
	width: 66px;
	height: 52px
}

.bucket.file {
	background-image: url(../img/file.png);
	background-size: 100%;
	width: 59px;
	height: 78px
}

.bucket.folder {
	background-image: url(../img/folder.png);
	background-size: 100%;
	width: 83px;
	height: 75px;
}

.bucket_container.left .folder {
	animation-name: floating;
	animation-duration: 3.2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.bucket_container.right .folder {
	animation-name: floating-right;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.bucket_container.left .picture {
	animation-name: floating;
	animation-duration: 3.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.bucket_container.right .picture {
	animation-name: floating-right;
	animation-duration: 2.9s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.bucket_container.left .file {
	animation-name: floating;
	animation-duration: 2.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.bucket_container.right .file {
	animation-name: floating-right;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

div#coffre_container.big div#coffre {
	width: 339px;
	height: 306px;
	margin-top: 100px
}

div#coffre_container.mini div#coffre {
	width: 112px;
	height: 103px
}

div.wraporama div#logoC14 {
	background-image: url(../img/logo_c14.svg);
	background-size: 100% 100%;
	width: 339px;
	height: 306px;
	position: absolute;
	left: 50%;
	margin-left: -168px;
	z-index: 10;
}

@media only screen and (min-device-width: 320px) and (max-device-width:480px) {
	div.wraporama div#logoC14 {
		width:120px;
		height: 120px;
		margin-left: -60px;
		margin-top: 40px
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) {
	div.wraporama div#logoC14 {
		width:280px;
		height: 280px;
		margin-left: -135px;
		margin-top: 0
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) and (orientation:landscape) {
	div.wraporama div#logoC14 {
		width:350px;
		height: 350px;
		margin-left: -165px;
		margin-top: 0
	}
}

.user-code {
	font-size: 45px;
	font-weight: 100;
	margin-bottom: 20px;
	font-family: monospace;
}
.login-step {
	list-style-type: disc !important;
	margin-left: 20px;
}
.login-wait {
	margin-bottom: 20px;
}

.collection .collection-item.avatar {
	min-height: 65px;
}
.t-red {
	color: red;
}
.t-green {
	color: #4CAF50;
}
.floating {  
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}
.floating-right {  
	animation-name: floating-right;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	from { transform: translate(0,  0px) rotate(20deg); }
	50%  { transform: translate(0, 5px) rotate(20deg); }
	to   { transform: translate(0, -0px) rotate(20deg); }    
}
@keyframes floating-right {
	from { transform: translate(0,  0px) rotate(-20deg); }
	50%  { transform: translate(0, 5px) rotate(-20deg); }
	to   { transform: translate(0, -0px) rotate(-20deg); }    
}
.c14 {
	background-color: #1074BD;
}
.btn.c14:hover {
	background-color: #1595f3;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #1595f3;
}

.brand-logo img {
	width: 45px;
	margin-top: 10px;
	margin-left: 5px !important;
	margin-right: 5px;
}
.brand-logo span {
	vertical-align: top;
}

.p-t-0 {
    padding-top: 0px;
}

.t-c14 {
  	color: #1074BD;
}

.t-orange {
  	color: #ff9800 !important;
}

#login-copy {
	margin-bottom: 30px !important;
	display: block;
	margin: 0 auto;
}
.list-loader {
	margin-top: 50px;
}
