<div class="col s12">
	<div class="center-align list-loader" ng-hide="loaded">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

    <div class="card-panel" ng-show="loaded" ng-cloak>
        <span>
            You have a total of {{archives.length}} bucket(s) in this vault for a total of <strong> {{totalSize}} </strong>
        </span>
    </div>
    <div class="card-panel" ng-show="loaded && archives.length > 0" ng-cloak>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Taille</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in archives track by $index">
                        <td>
                            <span class="new badge green" data-badge-caption="" ng-show="x.statusName === 'open'">{{x.statusName}}</span>
                            <span class="new badge orange" data-badge-caption="" ng-show="x.statusName === 'busy'">{{x.statusName}}</span>
                            <span class="new badge red" data-badge-caption="" ng-show="x.statusName === 'closed'">{{x.statusName}}</span>
                        </td>
                        <td>{{x.name}}</td>
                        <td>{{x.type}}</td>
                        <td>{{x.size}}</td>
                        <td style="float: left;">
                            <a href="javascript:void(0);" ng-click="lockArchive(x.uuid_ref)" ng-show="x.statusName === 'open'">
                                <i class="material-icons t-red">lock_outline</i>
                            </a>
                            <a href="javascript:void(0);" ng-click="downloadArchive(x.uuid_ref)" ng-show="x.statusName === 'open'">
                                <i class="material-icons t-c14">file_download</i>
                            </a>
                            <a href="javascript:void(0);" ng-click="unlockArchive(x.uuid_ref)" ng-show="x.statusName === 'closed'">
                                <i class="material-icons t-green">lock_open</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-show="loaded" ng-cloak>
        <div class="col s12">
            <a href="#!/safes/list">
                <button class="waves-effect waves-light red btn">
                    Back
                </button>
            </a>
        </div>
    </div>
</div>
