<div class="col s12" data-ng-controller="safesController"> 
    <div class="card-panel">
        <span>You can create custom buckets with this view</span>
    </div>
    <form enctype="multipart/form-data">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="safeName" name="safeName" type="text" ng-model="safe.name" class="validate">
                    <label for="safeName">Name of the bucket</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="safeName" class="materialize-textarea" ng-model="safe.description" length="512"></textarea>
                    <label for="safeName">Description of the bucket</label>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s6">
            <a href="#!/safes/list">
                <button class="waves-effect waves-light red btn" style="float:left">
                    Back
                </button>
            </a>
        </div>
        <div class="col s6">
            <button class="waves-effect waves-light c14 btn" style="float:right" ng-click="createSafe()">
                Create
            </button>
        </div>
    </div>
</div>