<div class="col s12" data-ng-controller="safesController">
	<div class="center-align list-loader" ng-hide="loaded">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

 	<div class="card-panel" ng-show="loaded" ng-cloak>
 		<span>You currently have <strong>{{safes.length}}</strong> vault(s)</span>
    </div>
	<div class="card-panel p-t-0" ng-show="loaded && safes.length > 0" ng-cloak>
        <div class="row">
            <span ng-show="safes.length == 0">
            	No vault on your account.
            </span>
            <table ng-show="safes.length > 0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Buckets</th>
                        <!-- <th>Size</th> -->
                        <th style="float: right;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in safes track by $index">
                        <td>
                            <i class="material-icons t-red" ng-show="!x.isScheduledBackup">sync_disabled</i>
                            <i class="material-icons t-red" ng-show="x.isScheduledBackup && x.status === 'deleting'">sync_problem</i>
                            <i class="material-icons t-green" ng-show="x.isScheduledBackup && x.status !== 'deleting'">sync</i>
                        </td>
                        <td>
                            <span class="new badge green" data-badge-caption="" ng-show="x.status === 'active'">{{x.status}}</span>
                            <span class="new badge orange" data-badge-caption="" ng-show="x.status === 'busy'">{{x.status}}</span>
                            <span class="new badge red" data-badge-caption="" ng-show="x.status === 'deleting'">{{x.status}}</span>
                        </td>
                        <td>
                            {{x.name}}
                        </td>
                        <td>
							{{x.bucketCount}}
                        </td>
                        <td>
                            <a href="#!/safes/{{x.uuid_ref}}/archives" class="secondary-content">
                            	<i class="material-icons t-c14">remove_red_eye</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-show="loaded" ng-cloak>
        <div class="col s12">
            <a href="#!/safes/create">
            	<button class="waves-effect waves-light c14 btn" style="float:right">
            		Create
            	</button>
            </a>
        </div>
    </div>
</div>
