<div class="row" ng-if="me && init" ng-cloak>
	<div class="col s12">
		<h1 class="t-c14" style="text-align: center;">Welcome {{me.first_name}}</h1>
	</div>
</div>

<div class="row logo-header" ng-show="!userCode" ng-cloak>
	<div class="wraporama wraporama-c14" style="position: relative; z-index: 1;">
		<div id="coffre_container" class="big">
			<div class="bucket_container left">
				<span class="bucket pos-top folder"></span>
				<span class="bucket pos-middle picture"></span>
				<span class="bucket pos-bottom file"></span>
			</div>
			<div class="bucket_container right">
				<span class="bucket pos-top picture"></span>
				<span class="bucket pos-middle folder"></span>
				<span class="bucket pos-bottom file"></span>
			</div>
		</div>
		<div id="step0" class="wraporama js-step-0">
			<div id="logoC14"></div>
		</div>
	</div>
</div>
