<div class="col s12" data-ng-controller="loginController">
	<div class="row logo-header" ng-show="!userCode" ng-cloak>
		<div class="wraporama wraporama-c14" style="position: relative; z-index: 1;">
			<div id="coffre_container" class="big">
				<div class="bucket_container left">
					<span class="bucket pos-top folder"></span>
					<span class="bucket pos-middle picture"></span>
					<span class="bucket pos-bottom file"></span>
				</div>
				<div class="bucket_container right">
					<span class="bucket pos-top picture"></span>
					<span class="bucket pos-middle folder"></span>
					<span class="bucket pos-bottom file"></span>
				</div>
			</div>
			<div id="step0" class="wraporama js-step-0">
				<div id="logoC14"></div>
			</div>
		</div>
	</div>

	<div class="row center-align" ng-show="!userCode" ng-cloak>
		<button ng-click="loginBtn()" class="waves-effect waves-light btn btn-large c14">Login</button>
	</div>

	<div ng-if="userCode">
		<div class="card" ng-cloak>
			<div class="card-content">
				<div class="row" style="margin-bottom: 0px;">
					<div class="center-align login-wait" ng-show="popupOpened">
						<div class="preloader-wrapper big active">
							<div class="spinner-layer spinner-blue-only">
								<div class="circle-clipper left">
									<div class="circle"></div>
								</div><div class="gap-patch">
									<div class="circle"></div>
								</div><div class="circle-clipper right">
									<div class="circle"></div>
								</div>
							</div>
						</div>
						<p class="center-align">Waiting for your login</p>
					</div>
					<div class="user-code center-align" ng-bind="userCode"></div>
				 	<div class="col s12" ng-show="!popupOpened">
		                <button class="waves-effect waves-light green btn" id="login-copy" ng-click="copyCode()">
		                    <i class="material-icons left">assignment</i>Copy code
		                </button>
			        </div>
			        <div class="col s12" ng-show="!popupOpened">
						<ul ng-if="!popupOpened">
							<li class="login-step">Open the login page and enter this code</li>
							<li class="login-step">Login with your Online credentials and authorize the app</li>
							<li class="login-step">You're done 👍</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-if="userCode">
			<!-- <a class="waves-effect waves-light btn" ng-click="copyCode()"><i class="material-icons left">assignment</i>Copy code</a>
			<a class="waves-effect waves-light btn" ng-click="openPopup()" ng-show="!popupOpened"><i class="material-icons left">web_asset</i>Open login page</a>
			<a class="waves-effect waves-light btn red" ng-click="cancelLogin()" ng-show="popupOpened"><i class="material-icons left">close</i>Cancel</a>
	         -->
	         <div class="col s6">
                <button class="waves-effect waves-light red btn" style="float:left" ng-click="cancelLogin()">
                    <i class="material-icons left">close</i>Cancel
                </button>
	        </div>
	        <div class="col s6">
	            <button class="waves-effect waves-light c14 btn" style="float:right" ng-click="openPopup()" ng-show="!popupOpened">
                    <i class="material-icons left">web_asset</i>Open login page
                </button>
                <button class="waves-effect waves-light green btn" style="float:right;" ng-click="copyCode()" ng-show="popupOpened">
                    <i class="material-icons left">assignment</i>Copy code
                </button>
	        </div>
	    </div>
	</div>
</div>
